################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Website/bin
/Website/obj
/node_modules
/WebSite/node_modules